* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .Hintergrund {
    height: 100vh;
    width: 100vw;
    background: black;
    background-size: 300% 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  
  .Inhalt h1 {
    font-size: 30rem;
line-height: 22rem;
    color: rgb(224, 33, 138, 1);
  }
  
  .Inhalt h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
  }
  
  button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.1);
  }
  